@media only screen and (min-width: 1025px) {
  body main .container .row-position {
    display: flex;
    align-items: center;
  }
  body main .container .contact-form--container {
    display: flex;
    padding: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    position: relative;
    height: fit-content;
    height: 60rem;
    width: 100%;
  }
  body main .container .contact-form--container .contact-form--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2%;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form {
    width: 100%;
    height: 100%;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    ul {
    width: 100%;
    height: fit-content;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    .contact-title--item {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    .contact-title--item
    .contact-title {
    font-weight: bold;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    .contact-title--item
    h2::first-letter {
    color: #e36414;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    .send-mail--btn--item
    p {
    position: absolute;
    right: 1rem;
    bottom: 20px;
    display: none;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input {
    height: 2rem;
    width: 100%;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea {
    width: 100%;
    height: 20rem;
    padding-top: 0.25rem;
    resize: none;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input,
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea {
    padding-left: 0.5rem;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input:focus {
    border: 1px solid #e36414;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input,
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea,
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    button {
    background: rgba(221, 221, 221, 0.2);
    background: rgba(227, 100, 20, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(221, 221, 221, 0.3);
    border: 1px solid rgba(227, 100, 20, 0.65);
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input::placeholder,
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea::placeholder {
    padding-left: 0.5rem;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea::placeholder {
    padding-top: 0.25rem;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    input:focus::placeholder,
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    textarea:focus::placeholder {
    color: transparent;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    button {
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
  }
  body
    main
    .container
    .contact-form--container
    .contact-form--wrapper
    .contact-form
    li
    h2 {
    color: rgba(0, 0, 0, 0.795);
    font-size: 2.5rem;
  }
  body main .container .maps-container {
    width: 100%;
    height: 100%;
  }
  body main .container .maps-container .maps-wrapper {
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  body main .container .maps-container .maps-wrapper img {
    width: fit-content;
    height: 400px;
  }
  .callContainer,
  .homeCallContainer {
    display: none;
  }
}
/*# sourceMappingURL=contact.min.css.map */
